<app-topbar></app-topbar>
<app-breadcumb></app-breadcumb>

<div class="container">
  <div class="letf-container">
    <h1>Welcome!!!!!</h1>
    <h3>
      Explore the World of Code with Me. 🚀 Discover my passion for programming
      and innovation as I showcase my projects and skills. Let's make tech magic
      together! 💻✨
    </h3>
    <button mat-button (click)="goToHome()">Resume Overview</button>
  </div>
  <div class="background-container">
    <img src="/assets/images/backgrounds/landingPage.jpg" alt="landing" />
  </div>
</div>
<app-footer></app-footer>
