/* You can add global styles to this file, and also import other style files */

$landingBackgroundImage: "../assets/images/backgrounds/landingPage.jpg";
// Definición de variables con los colores obtenidos de la imagen de landing
$color-primary: #6A3FA6;
$color-secondary: #997EBF;
$color-background: #F2F2F2;
$color-accent-1: #E7DCF2;
$color-accent-2: #6136BF;

// Estilos globales
body {
  background-color: $color-background;
}

a {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  color: $color-accent-1;
}

button {
  background-color: $color-primary;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.button-secondary {
  background-color: $color-secondary;
}

.button-accent {
  background-color: $color-accent-1;
}

/* Otros estilos utilizando los colores de la paleta */
/* ... */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
